.page-header {
    border-bottom: none;
}

.container {
	max-width: 500px;
}

.navbar {
    margin-bottom: 0;
}

.btn.fa-chevron-left {
	text-decoration: none;
	color: #555;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.list-group-item-action:hover {
	background-color: #007bff;
	color: #f8f9fa;
}